{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: auto;
			max-width: 800px;
            height: 80vh;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
	</style>

	<div class="example-wrapper d-flex align-items-center">
		<h1>Bienvenue sur l'aplication des bibliothécaires</h1>
	</div>
{% endblock %}
