.bg {
    background-image: url('../images/books.jpg');
    background-size: cover;
}
.presentation-livre {
    margin: 1em auto;
    max-width: 1000px;
    width: 80%;
    font: 18px / 1.5 sans-serif;
    background-color: #d4c9bcf4;
    border-radius: 15px;
    padding: 1em;
}
#coverPresentation {
    display: flex;
    justify-content: center;
    height: 500px;
}