{% extends 'base.html.twig' %}

{% block title %}Ajout d'emprunteur
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('CSS/userCreate.css')}}">
{% endblock %}

{% block body %}
	<center>
		<h1 class="title my-5" style="color: #d3d0d0;">Ajout d'un emprunteur</h1>
	</center>
	
{# AFFICHAGE DU FORMULAIRE DE CREATION D'UTILISATEUR  #}
	<div class="wrapper border border-secondary border-3 rounded-2 p-3">
		{{form(form)}}
		</div>
	{% endblock %}
