{% extends 'base.html.twig' %}

{% block title %}Ajout d'emprunteur
{% endblock %}

{% block body %}
	<style>
		.bg {
			background-image: url('../../images/user.jpg');
			background-size: cover;
		}
		.wrapper {
			margin: 1em auto;
			max-width: 900px;
			width: 75%;
			font: 18px / 1.5 sans-serif;
			background: white;
		}
	</style>
	<center>
		<h1 class="title my-5" style="color: white;">Ajout d'un emprunteur</h1>
	</center>
	
{# AFFICHAGE DU FORMULAIRE DE CREATION D'UTILISATEUR  #}
	<div class="wrapper border border-secondary border-3 rounded-2 p-3">
		{{form(form)}}
		</div>
	{% endblock %}
