{% extends 'base.html.twig' %}

{% block title %}Ajout d'emprunteur
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 75%;
			font: 18px / 1.5 sans-serif;
		}
	</style>
	<center class="marginTitle">
		<h1 class="title my-5">Ajout d'un emprunteur</h1>
	</center>
	
	<div class="example-wrapper border border-secondary border-3 rounded-2 p-3">
		{{form(form)}}
	</div>
	{% endblock %}
